* {
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100%;

   
}





.hero{
    background-image:  url(about.jpg);
    height: calc(24vw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -20px;

}



.nav{
    background-color: #fad02c;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    
}

.logo{
    color: #4D4848;
    font-size: 33px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav ul{
    float: right;
    margin-right: 20px;
    z-index: 999;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav ul li a{
    color: #4D4848;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;

    transition:  all 0.3s;
}



.nav ul li a:hover{
    color: white;
}


.checkbtn #bars,
.checkbtn #cancle{
    color: #4D4848;
    font-size: 30px;
    float: right;
    margin: 25px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media only screen and (max-width:980px){
    
    .logo{
        padding:40px;
    }
    
    .checkbtn #bars{
        display: block;
    }
    
    .nav ul{
        background-color: #fad02c;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;

        right: -100%;
        margin-right: 0;

        transition: all 0.3s;
    }

    .nav ul li{
        display: block;
        margin: 40px 0;
    }

    .nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ label #bars{
        display: none;
    }

    #check:checked ~ label #cancle{
        display: block;
    }

}





.inner_content{
    width: 1000px;
    color: white;
    position: absolute;
    top: 50px;
    left: 60px;
    
    
}

.inner_content h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 20%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.inner_content .merge img{
    background-position: center;
    margin-top: 10px;
    margin-left: 80px;
}

.inner_content .MV img{
    height: 250px;
    width: 1545px;
    margin-top: 30px;
    margin-left: -70px;
    
}

.inner_content .MV h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: -10%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 40px;  
    color: white;
}

.inner_content .merge p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 220px;
    text-indent: 3px;
    color: black;
    
}



.inner_content h2{
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 10%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 70px;
    text-align: justify;
}

.inner_content span{
    color: #fad02c;
    
}

.inner_content p{
    font-size: 18px;
    margin-bottom: 30px;
    text-indent: 3px;
    color: black;
}



.innercontent{
    width: 1000px;
    color:#fad02c;
    position: absolute;
    top: 50px;
    left: 60px;
}

.innercontent h2{
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 70%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 40px;
}




@media only screen and (max-width:980px){


    .inner_content{
        width: 200px;
        padding: 0 20px;
    }

    .inner_content h1{
        font-size: 30px;
    }
}

footer{
    background-color:#fad02c;
    color:#4D4848;
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-bottom: auto;
    
    
}

.container{
    display: flex;
    gap: 20px;
    padding: 50px 20px;
   
}

.abouts{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services ul{
    list-style-type: none;
    line-height: 1.6;
}

.services a{
    color:#4D4848;
    text-decoration: none;
}

.services a:hover{
    color: white;
    text-decoration: underline;
}

.contact{

    flex-grow: 1;
    flex-basis: 100%;
}

.contact ul{
    list-style-type: none;
    line-height: 2;
}

.contact a{
    color:#4D4848;
    text-decoration: none;
}

.contact a:hover{
    color: white;
    text-decoration: underline;
}

.container h1{
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    
}