* {
    margin: 0;
    padding: 0;
}

html, body{
    font-family: sans-serif;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

nav{
    background-color: #fad02c;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    
    
}



.logo{
    color: #4D4848;
    font-size: 33px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 999;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #4D4848;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;

    transition:  all 0.3s;
}



nav ul li a:hover{
    color: white;
}


.checkbtn #bars,
.checkbtn #cancle{
    color: #4D4848;
    font-size: 30px;
    float: right;
    margin: 25px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media only screen and (max-width:980px){
    
    .logo{
        padding: 40px;
    }
    
    .checkbtn #bars{
        display: block;
    }
    
    nav ul{
        background-color: #fad02c;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;

        right: -100%;
        margin-right: 0;

        transition: all 0.3s;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ label #bars{
        display: none;
    }

    #check:checked ~ label #cancle{
        display: block;
    }

}

.content{
  
    color: white;
    position: absolute;
    top: 200px;
    left: 270px;
    font-size: 70px;
}

.content p{
    font-size: 30px;
    margin-top: -40px;
    
    margin-left: 150px;
    color: black;
}






.content2 img{
    margin-top: -3px;
    
}

#cols{
    width: 100%;
    
}

.content3{
  
    color: white;
    position: absolute;
    top: 850px;
    left: 150px;
}

.button{
    text-align: left;
    margin-left: 190px;
    margin-bottom: 40px;
    margin-top: -100px;
}

.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn-contact-us{
    background-color: #4D4848;
    
    transition: all 0.3s;
}

.btn-contact-us:hover{
    background-color: transparent;
    border: 2px solid white;
}

@media only screen and (max-width:980px){
   .content p{
    margin-top: 20px;
    font-size: 18px;
    position: center;
    margin-left: -200px;
    color: white;
   }

   .content h1{
    font-size: 30px;
    position: center;
    margin-left: -180px;
    margin-top: 50px;

    
   }

   .content2 h2{
    font-size: 30px;
    margin-left: 20px;
   }

   .col-12{
    width: 100%;

   }

   #cols{
    margin-top: -3px;
   }

   .content3{
    position: center;
    margin-left: -120px;
    margin-top: 20px;
   }

   .content4 p, .content5 p{
  
    font-size: 11px;
    position: center;
    margin-left: 20px;
   }
}

#footer{
    background-color:#fad02c;
    color:#4D4848;
    
    margin-top: auto;
    
    
    
}

.container{
    display: flex;
    gap: 20px;
    padding: 50px 20px;
   
}

.abouts{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services ul{
    list-style-type: none;
    line-height: 1.6;
}

.services a{
    color:#4D4848;
    text-decoration: none;
}

.services a:hover{
    color: white;
    text-decoration: underline;
}

.contact{

    flex-grow: 1;
    flex-basis: 100%;
}

.contact ul{
    list-style-type: none;
    line-height: 2;
}

.contact a{
    color:#4D4848;
    text-decoration: none;
}

.contact a:hover{
    color: white;
    text-decoration: underline;
}

.container h1{
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}

@media only screen and (max-width:980px){
    .abouts, .contact{
        width: 35%;
    }

    
}

@media screen and (max-width:767px){
    .abouts, .contact, .services{
        width: 100%;
        margin-bottom: 30px;
    }
    .container{
        flex-direction: column;
    }
}