* {
    margin: 0;
    padding: 0;
}

html, body{
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    
}


.image{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./YEAH.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav{
    background-color: #fad02c;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    
    
}



.logo{
    color: #4D4848;
    font-size: 33px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 999;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #4D4848;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;

    transition:  all 0.3s;
}



nav ul li a:hover{
    color: white;
}


.checkbtn #bars,
.checkbtn #cancle{
    color: #4D4848;
    font-size: 30px;
    float: right;
    margin: 25px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media only screen and (max-width:980px){
    
    .logo{
        padding: 40px;
    }
    
    .checkbtn #bars{
        display: block;
    }
    
    nav ul{
        background-color: #fad02c;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;

        right: -100%;
        margin-right: 0;

        transition: all 0.3s;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ label #bars{
        display: none;
    }

    #check:checked ~ label #cancle{
        display: block;
    }

}











.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 350px;
}

.card-container h1{
    width: 800px;
    position: absolute;
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: -6%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: -40px;
    color: white;
}

.card-container h2{
    width: 800px;
    position: absolute;
    top: 55%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: -6%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: -40px;
}

.card-container span{
    color: #fad02c;
}

.card{
    width: 325px;
    background-color:white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: 60%;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 25px;
    margin-bottom: 5px;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: auto;
    color: white;
   
}

.popup{
    width: 700px;
    height: 200px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 35px 35px;
    color: #4D4848;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background:  #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}


.pop{
    width: 800px;
    height: 200px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: auto;
    padding: 0 35px 35px;
    color: #4D4848;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-pop{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.pop h2{
    font-size: 30px;
    font-weight: 200;
    margin: 30px 0 10px;
    

}

.pop button{
    width: 100%;
    margin-top: 54px;
    padding: 10px 0;
    background:  #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.pops{
    width: 700px;
    height: 200px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 35px 35px;
    color: #4D4848;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-pops{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.pops h2{
    font-size: 30px;
    font-weight: 200;
    margin: 30px 0 10px;
    

}

.pops button{
    width: 100%;
    margin-top: 54px;
    padding: 10px 0;
    background:  #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.popss{
    width: 700px;
    height: 200px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 35px 35px;
    color: #4D4848;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popss{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popss h2{
    font-size: 30px;
    font-weight: 200;
    margin: 30px 0 10px;
    

}

.popss button{
    width: 100%;
    margin-top: 54px;
    padding: 10px 0;
    background:  #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}


@media screen and (max-width: 980px){
    #popup{
        width: 200px;
        
    }

   

    

    #popup h2{
        font-weight: 100;
        font-size: 18px;
        margin-left: -50px;
        margin-top: 40px;

    }

    #pop{
        width: 200px;
        
    }

    #pop h2{
        font-weight: 100;
        font-size: 18px;
        margin-left: -50px;
        margin-top: 40px;
    }

    #pops{
        width: 200px;
    }

    #pops h2{
      font-weight: 100;
      font-size: 18px;
      margin-left: -50px;
      margin-top: 40px;  
    }

    #popss{
        width: 200px;
    }

    #popss h2{
        font-weight: 100;
      font-size: 18px;
      margin-left: -50px;
      margin-top: 40px;
    }


    .card-container h1{
        width: 200px;
        padding: 0;
        font-size: 40px;
        margin-top: -100px;
       
    }

  
    
    .card-container h2{
        width: 200px;
        padding: 0;
        font-size: 40px;
        margin-top: -100px;
       
    }

    .card-content h3{
        font-size: 10px;
    }

    .card-content .btn{
        display: block;
        text-align: center;
    }
}

footer{
    background-color:#fad02c;
    color:#4D4848;
    
   margin-top: auto;
    
    
}

.container{
    display: flex;
    gap: 20px;
    padding: 50px 20px;
   
}

.abouts{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services ul{
    list-style-type: none;
    line-height: 1.6;
}

.services a{
    color:#4D4848;
    text-decoration: none;
}

.services a:hover{
    color: white;
    text-decoration: underline;
}

.contact{

    flex-grow: 1;
    flex-basis: 100%;
}

.contact ul{
    list-style-type: none;
    line-height: 2;
}

.contact a{
    color:#4D4848;
    text-decoration: none;
}

.contact a:hover{
    color: white;
    text-decoration: underline;
}

.container h1{
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    
}

