* {
    margin: 0;
    padding: 0;
}

html, body{
    font-family: sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

nav{
    background-color: #fad02c;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    
    
}



.logo{
    color: #4D4848;
    font-size: 33px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 999;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #4D4848;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 15px;

    transition:  all 0.3s;
}



nav ul li a:hover{
    color: white;
}


.checkbtn #bars,
.checkbtn #cancle{
    color: #4D4848;
    font-size: 30px;
    float: right;
    margin: 25px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media only screen and (max-width:980px){
    
    .logo{
        padding: 40px;
    }
    
    .checkbtn #bars{
        display: block;
    }
    
    nav ul{
        background-color: #fad02c;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;

        right: -100%;
        margin-right: 0;

        transition: all 0.3s;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        right: 0;
    }

    #check:checked ~ label #bars{
        display: none;
    }

    #check:checked ~ label #cancle{
        display: block;
    }

}

.content{
  
    color:white;
    position: absolute;
    top: 200px;
    left: 150px;
}

.content p{
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-left: 20px;
    color: black;
}

.content2 img{
    margin: 140px auto;
    width: -5px;
    max-width: 700px;
    height: 600px;
    float: center;
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 400px;
}

.text-box{
    text-align: left;
    margin-top: -120px;
    margin-bottom: 20px;
    margin-left: 800px ;
}

.text-box1{
    text-align: left;
    margin-top: -325px;
    margin-bottom: 300px;
    margin-left: 500px ;
}

.content3 img{
    -webkit-filter: blur(1px);
    filter: blur(1px);
    margin: 140px auto;
    width: -5px;
    width: 2500px;
    height: 300px;
    float: center;
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 400px;
    margin-top: 20px;
}

.button{
    text-align: left;
    margin-left: 850px;
    margin-bottom: 400px;
    margin-top: -350px;
}

.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn-contact-us{
    background-color: #fad02c;

    transition: all 0.3s;
}

.btn-contact-us:hover{
    background-color: transparent;
    border: 2px solid #fad02c;
}





.content3 h1{
    margin-top: -520px;
    margin-left: 500px;
    margin-bottom: 300px;
    color: black;
   
}

@media only screen and (max-width:980px){
    .content{
        margin-top: -10px;
        font-size: 11px;
        position: center;
        margin-left: -70px;
    }

    .content p{
        font-size: 16px;
        position: center;
        margin-left: -60px;
    }
    
    #cols{
        display: block;
        margin-left: 20px;
        width: 340px;
        margin-top: 300px;
    }

    .text-box1{
        font-size: 10px;
        margin-top: -490px;
        margin-bottom: 300px;
        margin-left: 50px ;
    }

    .text-box{
        font-size: 10px;
        margin-top: -130px;
        margin-bottom: 300px;
        margin-left: 215px ;
    }

    .content3 h1{
        font-size: 20px;
        margin-left: 80px;
        margin-top: -600px;
    }

    .button{
        margin-left: 80px;
        margin-top: -280px;

    }

    #colss{
        display: block;
        margin-left: 20px;
        width: 340px;
        margin-top: 300px;
    }
}



#footer{
    margin-top: auto;
    background-color:#fad02c;
    color:#4D4848;
    
    
    
    
    
}

.container{
    display: flex;
    gap: 20px;
    padding: 50px 20px;
   
}

.abouts{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services{
    
    flex-grow: 1;
    flex-basis: 100%;
}

.services ul{
    list-style-type: none;
    line-height: 1.6;
}

.services a{
    color:#4D4848;
    text-decoration: none;
}

.services a:hover{
    color: white;
    text-decoration: underline;
}

.contact{

    flex-grow: 1;
    flex-basis: 100%;
}

.contact ul{
    list-style-type: none;
    line-height: 2;
}

.contact a{
    color:#4D4848;
    text-decoration: none;
}

.contact a:hover{
    color: white;
    text-decoration: underline;
}

.container h1{
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}

@media screen and (max-width:767px){
    .abouts, .contact, .services{
        width: 100%;
        margin-bottom: 30px;
    }
    .container{
        flex-direction: column;
    }
}

@media only screen and (max-width:980px){
    .abouts, .contact{
        width: 35%;
    }

    .link{
        width: 30%;
    }
}



